*

!.gitignore
!settings.json
!extensions/
!extensions/*
!extensions/pi-permission-system/
!extensions/pi-permission-system/*
extensions/pi-permission-system/logs
!agents/
!agents/*
!APPEND_SYSTEM.md
!tests/
!tests/*.test.mjs
